<div data-controller="notification" class="<%= css_class %>">
  <div class="grow"><%== message %></div>
  <%== material_icon('close', class: 'flex-none', data: { action: 'click->notification#close' }) %>
</div>
