<%= form_for User.new, as: :user, url: custom_sign_in_path do |f| %>
  <div class="flex gap-2 md:gap-4">
    <input
      type="email"
      required
      name="user[email]"
      autocomplete="off"
      placeholder="Email"
      class="input w-36 md:w-44">

    <input 
      type="password"
      required
      name="user[password]"
      autocomplete="off"
      placeholder="Password"
      class="input w-36 md:w-44">

    <%= f.submit "Sign In", class: "btn btn-primary" %>

    <a class="btn btn-secondary" href="<%= new_user_registration_path %>" target="_top">Sign Up</a>
  </div>
<% end %>
