<header class="grid gap-2 md:flex md:gap-4 py-3">
  <%= render 'shared/logo_and_banner' %>

  <div class="md:grow md:flex md:justify-end md:items-center">
    <hr class="text-black md:hidden mb-3">
    <%= turbo_frame_tag 'engagements-user-logged-state', src: engagements_user_logged_state_path %>
  </div>
</header>
<hr class="text-black">
