<a class="md:flex-none" href="<%= root_path %>">
  <div class="flex gap-2 items-center">
    <%== material_icon('home', class: 'text-4xl') %>
    <div class="font-bold text-3xl w-full">
      Funny Movies
    </div>
  </div>
</a>
