<header class="flex gap-2 md:gap-4 items-center py-3">
  <%== material_icon('home', class: 'text-4xl') %>

  <div class="font-bold text-3xl">
    Funny Movies
  </div>
</header>
<hr class="text-black">
