<!DOCTYPE html>
<html>
  <%= render 'shared/head_tag' %>
  <body>
    <main class="container mx-auto sm:px-0 px-2">
      <%= render 'shared/header' %>
      <%= yield %>
    </main>
  </body>
</html>
