<!DOCTYPE html>
<html>
  <%= render 'shared/head_tag' %>
  <body>
    <main class="container mx-auto sm:px-0 px-2">
      <%= render 'shared/header' %>
      <%= yield %>
    </main>
    <div id="redirect-tag"></div>
    <div id="notification-tag" class="grid gap-2 fixed top-4 left-4 z-10">
      <%= render Shared::NotificationComponent.new(flash: flash) %>
    </div>
  </body>
</html>
